


.input-field{
    border-radius: 10px;
    background-color: #F9F8FD;
    padding: 0px 10px ;
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 100%;

}

.flexible-input {
    flex-grow: 1;
    width: 0;
    font-size: 21px;
    color: rgb(61, 61, 61);
}

.input-field > input{
    border: 0;
    outline: none;
    height: 100%;
}

.add-btn{
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-left: 7px;
    cursor: pointer;
}

.clear-btn{
    background-color: #D9534F;
    border: 0;
    padding: 10px 12px;
    border-radius: 5px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
}

.todo-date{
    margin-right: 10px;
}

.error-msg{
    color: red;
    font-weight: bold;
    text-align: end;
    font-size: 13px;
    margin-top: 5px;
    margin-right: 15px;
}


@media screen and (max-width: 800px){
    input[type="date"] {
        color: transparent;
        width: 20px
    }
    
    input[type="time"]{
        color: transparent;
        width: 30px;
        
    }
    .todo-date{
        margin-right: 0;
    }
}