.app-container{
    padding: 6rem 3rem;
    height: 100%;
    width: 50%;
    display: flex;
    gap: 45px;
    flex-direction: column;
}

.tile{
    color: #ffffff;
}

.tile > h3{
    font-weight: 600;font-size: 22px
}
.tile span{
    font-size: 35px; font-weight: 1000; letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {

    .app-container{
       width: 70%;
    }
}


@media screen and (max-width: 800px) {

    .app-container{
       width: 90%;
    }
}

@media screen and (max-width: 690px) {

    .app-container{
       width: 100%;
    }
}

@media screen and (max-width: 570px) {

    .app-container{
       padding: 3rem 1rem;
    }

    .tile > h3{
        font-size: 20px;
    }
    .tile  span{
        font-size: 30px;
    }
}


